{% include 'header.html' %}


{% block body %}

<body id="page-top">
  <div id="wrapper">
    {% include 'sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">


            {% include 'topbar.html' %}

            <!-- Begin Page Content -->
            <div class="container-fluid">






            </div>
            <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          {% include 'footer-copyright.html' %}
          <!-- End of Footer -->


        </div>



{% endblock %}

    <!-- Bootstrap core JavaScript-->
{% include 'footer.html' %}
  
